
  <div class="container">
    <h3>Estatística de Progressão da Nuvem Vulcânica</h3>
  </div>

  <div class="container">    

    <div class="form-group">
      <input class="form-control" type="text" [(ngModel)]="nuvem"  placeholder="Quantidade de Nuvens" />
    </div>
    <div class="form-group">
      <input class="form-control" type="text" [(ngModel)]="aeroportos" placeholder="Quantidade de Aeroportos" />
    </div>

  </div>

   <div class="container">
      <button class="btn btn-primary" (click)="onAnalise()">Analisar</button>
   </div>
   

 <div class="container" *ngFor="let dados of data">
   <table>
     <tr>
       <td>{{dados}}</td>
    </tr>
   </table>   
 </div>



